In [48]:
import pandas as pd
import time
import random
import os
import utils 
from datetime import datetime
import uuid

Se crea un diccionario con el pais y la url de cada liga que se va a estudiar

In [49]:
url_ligas = ['https://www.espn.com.co/futbol/posiciones/_/liga/esp.1',
       'https://www.espn.com.co/futbol/posiciones/_/liga/eng.1',
       'https://www.espn.com.co/futbol/posiciones/_/liga/ita.1',
       'https://www.espn.com.co/futbol/posiciones/_/liga/ger.1',
       'https://www.espn.com.co/futbol/posiciones/_/liga/fra.1',
       'https://www.espn.com.co/futbol/posiciones/_/liga/por.1',
       'https://www.espn.com.co/futbol/posiciones/_/liga/ned.1'
    ]

liga = ['ESPAÑA', 'INGLATERRA', 'ITALIA', 'GERMANY', 'FRANCIA', 'PORTUGAL', 'HOLANDA']

Se crea un DataFrame con las listas antes creadas

In [50]:
df_leagues = pd.DataFrame(data={'LIGA': liga, 'URL': url_ligas })
df_leagues

         LIGA                                                URL
0      ESPAÑA  https://www.espn.com.co/futbol/posiciones/_/li...
1  INGLATERRA  https://www.espn.com.co/futbol/posiciones/_/li...
2      ITALIA  https://www.espn.com.co/futbol/posiciones/_/li...
3     GERMANY  https://www.espn.com.co/futbol/posiciones/_/li...
4     FRANCIA  https://www.espn.com.co/futbol/posiciones/_/li...
5    PORTUGAL  https://www.espn.com.co/futbol/posiciones/_/li...
6     HOLANDA  https://www.espn.com.co/futbol/posiciones/_/li...

Accedemos al valor del primer registro de la columna URL

In [51]:
df_leagues['URL'][0]

'https://www.espn.com.co/futbol/posiciones/_/liga/esp.1'

Se lee ese valor directamente desde la WEB

In [52]:
df = pd.read_html(df_leagues['URL'][0])
type(df)

list

se verifica que es una lista y se investiga su longitud

In [53]:
len(df)

2

observamos la informacion que tiene la lista en la posicion cero y la uno

In [54]:
df[0]

              2023/2024
0       1MADReal Madrid
1         2BARBarcelona
2            3GIRGirona
3   4ATLAtlético Madrid
4     5ATHAthletic Club
5     6SOCReal Sociedad
6        7BETReal Betis
7          8VALValencia
8        9VLRVillarreal
9           10GETGetafe
10         11OSAOsasuna
11      12SEVSevilla FC
12      13PALLas Palmas
13          14ALAAlavés
14  15RAYRayo Vallecano
15        16MLAMallorca
16      17VIGCelta Vigo
17           18CADCádiz
18         19GRNGranada
19         20ALMAlmería

In [55]:
df[1]

     J   G   E   P  GF  GC  DIF  PTS
0   32  25   6   1  70  22   48   81
1   32  21   7   4  64  37   27   70
2   32  21   5   6  67  40   27   68
3   32  19   4   9  59  38   21   61
4   32  16  10   6  52  30   22   58
5   32  13  12   7  46  34   12   51
6   32  12  12   8  40  38    2   48
7   32  13   8  11  35  34    1   47
8   32  11   9  12  51  55   -4   42
9   32   9  13  10  38  44   -6   40
10  32  11   6  15  37  46   -9   39
11  32   9  10  13  41  45   -4   37
12  32  10   7  15  30  39   -9   37
13  32   9   8  15  28  38  -10   35
14  32   7  13  12  27  39  -12   34
15  32   6  13  13  26  38  -12   31
16  32   7  10  15  37  47  -10   31
17  32   4  13  15  22  45  -23   25
18  32   3   9  20  33  61  -28   18
19  32   1  11  20  31  64  -33   14

Ahora concatenamos ambas listas

In [56]:
df =pd.concat([df[0], df[1]], ignore_index = True, axis=1)
df.head(3)

                 0   1   2  3  4   5   6   7   8
0  1MADReal Madrid  32  25  6  1  70  22  48  81
1    2BARBarcelona  32  21  7  4  64  37  27  70
2       3GIRGirona  32  21  5  6  67  40  27  68

Renombramos las columnas

In [57]:
df.rename(columns = {0:'EQUIPO', 1:'J', 2:'G', 3:'E', 4:'P', 5:'GF', 6:'GC', 7:'DIF', 8:'PTS'}, inplace=True)

In [58]:
df

                 EQUIPO   J   G   E   P  GF  GC  DIF  PTS
0       1MADReal Madrid  32  25   6   1  70  22   48   81
1         2BARBarcelona  32  21   7   4  64  37   27   70
2            3GIRGirona  32  21   5   6  67  40   27   68
3   4ATLAtlético Madrid  32  19   4   9  59  38   21   61
4     5ATHAthletic Club  32  16  10   6  52  30   22   58
5     6SOCReal Sociedad  32  13  12   7  46  34   12   51
6        7BETReal Betis  32  12  12   8  40  38    2   48
7          8VALValencia  32  13   8  11  35  34    1   47
8        9VLRVillarreal  32  11   9  12  51  55   -4   42
9           10GETGetafe  32   9  13  10  38  44   -6   40
10         11OSAOsasuna  32  11   6  15  37  46   -9   39
11      12SEVSevilla FC  32   9  10  13  41  45   -4   37
12      13PALLas Palmas  32  10   7  15  30  39   -9   37
13          14ALAAlavés  32   9   8  15  28  38  -10   35
14  15RAYRayo Vallecano  32   7  13  12  27  39  -12   34
15        16MLAMallorca  32   6  13  13  26  38  -12   31
16      17VIGCelta Vigo  32   7  10  15  37  47  -10   31
17           18CADCádiz  32   4  13  15  22  45  -23   25
18         19GRNGranada  32   3   9  20  33  61  -28   18
19         20ALMAlmería  32   1  11  20  31  64  -33   14

Se procesa la data de la columna equipo eliminando en algunos casos los primeros 4 caracteres y en otros 5

In [59]:
df['EQUIPO'] = df['EQUIPO'].apply(lambda x: x[5:] if x[:2].isnumeric()== True else x[4:]) 
df['LIGA'] = df_leagues['LIGA'][0]

In [60]:
df

             EQUIPO   J   G   E   P  GF  GC  DIF  PTS    LIGA
0       Real Madrid  32  25   6   1  70  22   48   81  ESPAÑA
1         Barcelona  32  21   7   4  64  37   27   70  ESPAÑA
2            Girona  32  21   5   6  67  40   27   68  ESPAÑA
3   Atlético Madrid  32  19   4   9  59  38   21   61  ESPAÑA
4     Athletic Club  32  16  10   6  52  30   22   58  ESPAÑA
5     Real Sociedad  32  13  12   7  46  34   12   51  ESPAÑA
6        Real Betis  32  12  12   8  40  38    2   48  ESPAÑA
7          Valencia  32  13   8  11  35  34    1   47  ESPAÑA
8        Villarreal  32  11   9  12  51  55   -4   42  ESPAÑA
9            Getafe  32   9  13  10  38  44   -6   40  ESPAÑA
10          Osasuna  32  11   6  15  37  46   -9   39  ESPAÑA
11       Sevilla FC  32   9  10  13  41  45   -4   37  ESPAÑA
12       Las Palmas  32  10   7  15  30  39   -9   37  ESPAÑA
13           Alavés  32   9   8  15  28  38  -10   35  ESPAÑA
14   Rayo Vallecano  32   7  13  12  27  39  -12   34  ESPAÑA
15         Mallorca  32   6  13  13  26  38  -12   31  ESPAÑA
16       Celta Vigo  32   7  10  15  37  47  -10   31  ESPAÑA
17            Cádiz  32   4  13  15  22  45  -23   25  ESPAÑA
18          Granada  32   3   9  20  33  61  -28   18  ESPAÑA
19          Almería  32   1  11  20  31  64  -33   14  ESPAÑA